li.book-card {
  margin: 10px 0px;
  background-color: var(--neutral-light-color);
}

.book-card__content {
  padding: 10px;
  text-align: left;
}

.book-card .book-card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-card .book-card__header img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  aspect-ratio: 1;
}

.book-card .book-card__header div {
  flex-grow: 2;
}

.book-card .book-card__body {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-top: 15px;
}

.book-card p {
  color: var(--neutral-dark-color)
}

.book-card small {
  color: var(--primary-color)
}

.trash-icon {
  fill: var(--secondary-color);
}